 body {
      font-family: Arial, sans-serif;
    }

    form {
      max-width: 800px;
      margin: auto;
    }

    label {
      display: block;
      margin-top: 10px;
    }

    input, select, textarea {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      box-sizing: border-box;
    }

    button {
      margin-top: 15px;
      padding: 10px 20px;
      background-color: #333;
      color: white;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #555;
    }

    /*Estilo da página vendas*/

    #paginaVendas {
        display: flex;
        flex-direction: column;
        justify-content: center;
       /*max-width: 800px;
        margin:0 auto;*/
        border: 2px solid red;
        height: 80vh;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: large;
        font-weight: bold;
    }

    .divisaoporlinhas {
        display: flex;
        justify-content: center;
    }

    .produto {
        border: 1px solid white;
        padding: 20px;
        margin: 10px;      
        border-radius: 10px;
    }

    .produto img {
        border-radius: 10px;
        border: 1px solid blue;
        width: 80px;
        height: 80px;
    }

    .labels {
        display: flex;
        justify-content: center;
    }
    .label-img{
       /* background-color: red;*/
        display: flex;
    }

    .numero {
        text-align: center;
    }

    .input-number {
        margin-left: 10px;
        width: 50px;
    }

    .checkmark {
        align-self: center;
        
    }

    button{
       margin: 15px auto;
       width: 200px;
    }